$rimba-green-mid:  #3aaa5e;
$rimba-green-dark: #22885a; // WCAG AA on white

$link-color: $rimba-green-dark;
$nav-child-link-color: $rimba-green-dark;
$btn-primary-color: $rimba-green-mid;
$base-button-color: #f7f7f7;
$body-heading-color: $grey-dk-300;
